/* 메인 */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:ital@1&display=swap');

/* 카테고리 */
@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 내부영어 */
@font-face {
  font-family: 'Tenada';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 내부한글 */
@font-face {
  font-family: 'Arita-buri-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 86px;
  padding: 80px 16px;
  background-color: #fffaf2;
}

/* 헤더 */
.header {
  position: fixed;
  width: 100%;
  height: 86px;
  top: 0;
  border-bottom: 3px solid orange;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 9999;
}

.header h1 {
  font-weight: 700;
  font-size: 50px;
  position: relative;
  font-family: 'Lobster';
}

.header h1 a {
  color: orange;
  font-weight: 700;
  text-decoration: none;
}

/* 버거바  */
.header .sub_menu {
}
.header .sub_menu a {
  font-size: 30px;
  color: #392300;
}

.header .sub_menu a:hover {
}

.header .sub_menu a i {
  margin-left: 20px;
}

/* 버거바 이름 */
#offcanvasRight {
  /* margin-top: 600px; */
}

#offcanvasRightLabel {
  font-family: 'Lobster';
  padding-top: 30px;
  padding-left: 30px;
  font-size: 60px;
  font-weight: 700;
  color: orange;
}

/* 버거바 내부 메뉴*/
.offcanvas-header {
}

.offcanvas-body {
  z-index: 2;
}

.burger-in {
  font-family: 'Happiness-Sans-Title';
  padding-top: 30px;
  padding-left: 30px;
  font-size: 30px;
  font-weight: 700;
}

.burger-in a {
  text-decoration: none;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.burger-in a {
  color: #000;
  position: relative;
  text-decoration: none;
}

.burger-in a::before {
  background: hsl(45 100% 70%);
  content: '';
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.burger-in a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
/* receipt */
.receipt_wrap h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: dashed 4px #666;
  padding-bottom: 30px;
  font-size: 4vw;
}

/* Design Areas */
body {
  background-color: #ffd490;
  color: #555;
  font-family: 'Tenada';
  font-weight: 300;
  font-size: 20px;
}

.receipt_wrap {
  background-color: #fffaf2;
  max-width: 700px;
  padding: 50px;
  position: relative;
  margin: 86px auto;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.info div {
  display: flex;
  margin: 10px 0;
}

.info dt {
  width: 30%;
}

.info dd {
  width: 70%;
  text-align: right;
}

.price:after {
  content: '원';
}

/* main */
main {
  border-top: dotted 4px #aaa;
  border-bottom: dotted 4px #aaa;
  padding: 20px 0;
}
main table {
  width: 100%;
}
main table col:first-child {
  width: 50%;
}
main table col:nth-child(2) {
  width: 20%;
}
main table col:nth-child(3) {
  width: 10%;
}
main table col:last-child {
  width: 20%;
}
main table th {
  text-align: center;
}
main table th:first-child {
  text-align: left;
}
main table td {
  text-align: center;
  padding: 10px 0;
}
main table td:first-child {
  text-align: left;
}
main i {
  color: orange;
}
/* footer */
.reciept-footer .total {
  border-top: dashed 4px #666;
  border-bottom: dashed 4px #666;
  padding: 20px;
}
.reciept-footer .total h2 {
  font-size: 3vw;
}

@media (max-width: 1000px) {
  .reciept-footer .total h2 {
    font-size: 4vw;
  }
}

.reciept-footer .total dt {
  width: 40%;
  text-align: right;
  margin-right: 20px;
}
.reciept-footer .total dd {
  width: 50%;
  text-align: left;
  margin-left: 30px;
}
.reciept-footer .greeting {
  text-align: center;
  margin-top: 20px;
}

.btn-buy {
  position: relative;
  width: 100px;
  height: 50px;
  text-align: center;
  left: 50%;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
  color: #555;
  border: dotted 4px #aaa;
  margin: 30px 0;
}

.btn-buy:hover,
.btn-buy:active,
.btn-buy:focus {
  letter-spacing: 0.125rem;
  color: #ffa500;
}
