body {
  background-color: #ffd490;
}

.container {
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
  margin-top: 86px;
  padding: 80px 16px;
  background-color: #fffaf2;
}

h2 {
  font-size: 35px;
  line-height: 32px;
  color: olive;
  text-align: center;
  background-color: antiquewhite;
  width: 300px;
  height: 30px;
  margin-top: 0%;
}
img {
  width: 60%;
  border: 5px solid orange;
  border-radius: 8px;
  margin-right: 30px;
}

.cheese {
  display: flex;
  align-items: center;
}

.cheese2 {
  border: 5px solid goldenrod;
  border-radius: 8px;
  transition: 0.2s ease-in;
}

@import url(https://fonts.googleapis.com/css?family=Handlee);

.content {
  font-family: "Handlee", cursive;
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.content ol {
  position: relative;
  top: 0px;
  margin-left: 22px;
  line-height: 30px;
}
ol li {
  position: relative;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
li:nth-child(5n + 1) {
  color: burlywood;
}
li:nth-child(5n + 2) {
  color: orange;
}
li:nth-child(5n + 3) {
  color: brown;
}
li:nth-child(5n + 4) {
  color: goldenrod;
}
li:nth-child(5n + 5) {
  color: olive;
}

.cheese2: focus;
