@font-face {
  font-family: 'Arita-buri-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #ffd490;
  font-family: 'Arita-buri-SemiBold';
}

.container {
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
  margin-top: 86px;
  padding: 80px 16px;
  background-color: #fffaf2;
}

/* .container main #about-cheese h2 {
  font-size: 35px;
  line-height: 32px;
  color: olive;
  text-align: center;
  background-color: antiquewhite;
  width: 300px;
  height: 30px;
  margin-top: 0%;
} */

/* .container main #about-cheese .cheese {
   width: 50%; 
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-top: 30px;
} */

/* .container main #about-cheese .cheese .img-box {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
}
.container main #about-cheese .cheese .img-box img {
  width: 100%;
  border-radius: 8px;
  margin: 0.5rem;
}
.container main #about-cheese .cheese .cheese2 {
  border-radius: 8px;
}
.container main #about-cheese .cheese .cheese2 .content {
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.container main #about-cheese .cheese .cheese2 .content ol {
  position: relative;
  top: 0px;
  margin-left: 22px;
  line-height: 30px;
}
.container main #about-cheese .cheese .cheese2 .content ol li {
  position: relative;
  padding-left: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
} */
/* .container main #about-cheese .cheese .cheese2 .content ol li:nth-child(5n + 1) {
  color: burlywood;
}
.container main #about-cheese .cheese .cheese2 .content ol li:nth-child(5n + 2) {
  color: orange;
}
.container main #about-cheese .cheese .cheese2 .content ol li:nth-child(5n + 3) {
  color: brown;
}
.container main #about-cheese .cheese .cheese2 .content ol li:nth-child(5n + 4) {
  color: goldenrod;
}
.container main #about-cheese .cheese .cheese2 .content ol li:nth-child(5n + 5) {
  color: olive;
} */

/* 
$font-serif: 'Playfair Display', serif;
$font-sans: 'Quicksand', sans-serif; */

/* // Colours.
$colors: (#27ae60, #6d9eeb, #2980b9, #8e44ad, #c20e9b, #16a085); */

header {
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  margin-top: 0;
}

main {
  margin: 50px auto 0;
  max-width: 820px;
}

main .cat-one,
main .cat-two,
main .cat-three {
  max-width: 275px;
}

main .cat-one {
  clip-path: circle();
  float: left;
  shape-outside: circle(45%);
  transform: translate(-15%);
}

main .cat-two {
  clip-path: ellipse();
  float: right;
  shape-outside: ellipse(45%);
  transform: translate(15%);
}

main .cat-three {
  clip-path: circle();
  float: left;
  shape-outside: circle(45%);
  transform: translate(-15%);
}

main p {
  line-height: 1.6;
}
