/* 내부영어 */
@font-face {
  font-family: "Tenada";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 카테고리 */
@font-face {
  font-family: "Happiness-Sans-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  background-color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffd490;
}

form {
  background-color: lightyellow;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 200p;
  height: 400px;
}

form h2 {
  font-family: "Tenada";
  color: orange;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}

form input {
  border: none;
  background: none;
  text-align: center;
  outline: none;
  padding: 10px;
  margin: 20px;
  color: olivedrab;
  height: 30px;
  width: 70%;
  border-radius: 40px;
  transition: 0.2s ease-in;
  font-family: "Tenada";
}

form input[type="text"],
form input[type="password"] {
  border: solid 2px lightgrey;
}

form input[type="submit"] {
  border: solid 2px grey;
  box-sizing: border-box;
  height: 40px;
  width: 50%;
  cursor: pointer;
}

form input[type="text"]:focus,
form input[type="Password"]:focus {
  width: 80%;
  border: solid 2px #ffd490;
}

form input[type="submit"]:hover {
  background: antiquewhite;
  color: goldenrod;
}
