@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:ital@1&display=swap");

@font-face {
  font-family: "Tenada";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ffd490;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 1200px;
  background-color: #fffaf2;
  margin: 0 auto;
  margin-top: 86px;
  padding: 80px 16px;
}

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
  border-bottom: 3px solid orange;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 100;
}

.header h1 {
  font-weight: 700;
  font-size: 50px;
  position: relative;
  font-family: "Lobster";
}

.header h1 a {
  color: orange;
  font-weight: 700;
  text-decoration: none;
}

/* 버거바  */
.header .sub_menu {
}
.header .sub_menu a {
  font-size: 30px;
  color: #392300;
}

.header .sub_menu a:hover {
}

.header .sub_menu a i {
  margin-left: 20px;
}

/* 버거바 이름 */
#offcanvasRight {
  /* margin-top: 600px; */
}

#offcanvasRightLabel {
  font-family: "Lobster";
  padding-top: 30px;
  padding-left: 30px;
  font-size: 60px;
  font-weight: 700;
  color: orange;
}

/* 버거바 내부 메뉴*/
.offcanvas-header {
}

.offcanvas-body {
  z-index: 2;
}

.burger-in {
  font-family: "Happiness-Sans-Title";
  padding-top: 30px;
  padding-left: 30px;
  font-size: 30px;
  font-weight: 700;
}

.burger-in a {
  text-decoration: none;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.burger-in a {
  color: #000;
  position: relative;
  text-decoration: none;
}

.burger-in a::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.burger-in a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* main */
ul,
ol {
  list-style: none;
  display: block;
}

.place-title {
  font-family: "Tenada";
  font-size: 54px;
  text-align: center;
  color: #555;
}

.place {
  margin-top: 80px;
}

.place_popular {
  font-family: "Arita-buri-SemiBold";
}

.place_popular li {
  position: relative;
  display: inline-block;
  width: 30%;
  margin: 0 1%;
  padding: 15px 10px 10px;
  vertical-align: top;
  box-sizing: border-box;
}

.place_popular li .img_place {
  display: inline-block;
  width: 80%;
  height: 80%;
  border-radius: 3% 3%;
}

.place_popular h3 {
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.place_popular p {
  font-size: 16px;
  margin: 2px;
}

.place_popular span {
  display: inline-block;
  font-size: 16px;
}

.Restraurnat_MenuItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding-right: 15%;
  padding-left: 5px;
}

.place_popular li .menu .desc {
  display: none;
}

.place_popular li .menu .desc p {
  display: inline-block;

  font-size: 12px;
  margin-left: 50%; /*text-align: center 먹히지 않음*/

  padding: 5px 7px;
  border-radius: 3px;
  background-color: #fc9b00;
  color: #fffaf2;
}

/* 추가 */
.active {
  display: block !important;
}

@media all and (max-width: 800px) {
  #container {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
  }
  .place {
    padding: 33px 0 0;
  }
  .place_popular {
    padding: 0 20px;
  }
  .place_popular li {
    display: inline-block;
    width: 100%;
    margin: 0%;
    box-sizing: border-box;
  }
  .place_popular.img_place {
    display: inline-block;
  }
  .place_popular li:first-child {
    border-top: none;
    padding-top: 0;
  }
  .place_popular li .menu .desc {
    display: none;
  }
  .place_popular span {
    display: inline;
    font-size: 15px;
  }
  .Restraurnat_MenuItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    padding-right: 15%;
    padding-left: 40px;
  }
}
